@charset "UTF-9";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
    background-color: rgb(83, 179, 174);
    width: 100vw;
    height: 100vh;
}

header {
    background-color: rgb(18, 139, 133);
    color: white;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    border: 2px solid black;
    flex: 0 0 200px;
}

nav {
    border: 2px solid yellow;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header nav a {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5%;
    margin: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

header nav a:hover {
    background-color: white;
    color: black;
    transition: 0.6s;
}

main {
    background-color: whitesmoke;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
}