@charset "UTF-8";

/* Todas as midias */

@media print {

    * {
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        background-image: url(../imagem/back-print.jpg);
    }

    main {
        border: 2px solid black;
        width: 90%;
    }

    main::after {
        content: "Impressão feita através do site de media query";
        text-decoration: overline;
    }

    h1 {
        text-shadow: none;
        color: black;
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: block;}
    #pc {display: none;}
    #tv {display: none;}
}

/* TABLE */
@media screen and (min-width: 768px) and (max-width: 992px) { 
    body {
        background-image: url(../imagem/back-tablet.jpg);
    }

    #phone {display: none;}
    #tablet {display: block;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: none;}
}

/* DESCKTOP */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagem/back-pc.jpg);
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: block;}
    #tv {display: none;}
}

/* GRANDES TELAS */
@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagem/back-tv.jpg);
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: block;}
}